* {
  margin: 0;
  padding: 0;
}

.left {
  padding: 8px 15px !important;
}
/* .get-in-touch{
    margin: 6px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(90deg, #263e7f 32.2%, #ef323a 103.87%);
    padding: 9px;
} */

/* first-section */
.first-sec-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.sub-heading {
  font-size: 24px;
  margin-left: 60px;
  font-weight: 700;
  line-height: 100%;
  color: #5e6a75;
}
.first-big-text{
  animation: left-to-right 2s ease-in-out 0.25s  normal forwards;
}
.first-big-text h3 {
  padding: 18px 0 40px 0;
  color: #132547;
  font-weight: 600;
  margin-left: 60px;
  font-size: 52px;
}
.get-started {
  margin-left: 58px;
  display: inline-block;
}
.get-started p {
  text-align: center;
  border-radius: 29px;
  padding: 13px 31px 14px 35px;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 22px;
  color: white;
  background: #4457fe;
}
.first-sec img {
  width: 100%;
}
.right-sec-row {
  animation: right-sec-row 2s ease-in-out 0.25s normal forwards;
}

/* second-section */
.bg-color {
  padding-bottom: 50px;
  background: #f3f5ff;
}
.for-heading {
    /* margin: 80px 0 0px 0; */
  text-align: center;
  animation: right-sec-row 2s ease-in-out 0.25s  normal forwards;
}
.for-heading h3 {
  font-size: 60px;
}
.for-heading span {
  font-weight: 600;
}
.for-second {
  text-align: center;
}
.six-card-left-centre{
   animation: left-to-right 2s ease-in-out 0.25s  normal forwards;
}
.six-cards {
  border-radius: 20px;
  margin-top: 30px;
  padding: 15px;
  /* margin: 5px;
  padding: 11px; */
}
.small-image {
  border-radius: 10px;
  background: #4457ff;
  display: inline-block;
  padding: 10px;
  margin-top: 15px;
}
.six-cards h4 {
  /* margin: 8px 19px; */
  text-align: center;
  line-height: 30px;
  color: #132547;
  font-weight: 700;
  font-size: 20px;
}
.six-cards p {
  color: #7a7d9c;
  font-size: 16px;
}
.six-cards:hover {
  background: white;
}

.next-third-card{
  padding: 10px;
}

/* third-section */
.third-section {
  background: #132547;
}
.four-second-2 {
    padding-bottom: 70px;
}
.second-heading h1 {
  margin: 80px 0 -38px 0;
  color: white;
  font-size: 50px;
  text-align: center;
}
.second-heading span {
  font-weight: 600;
  font-size: 56px;
}
.four-card-bg {
  padding: 70px;
}
.eight-cards {
  margin: 10px;
  padding: 22px;
  background: white;
  text-align: center;
  border-radius: 11px;
  transition: all ease-out 0.5s;
}
.eight-cards:hover{
  transform: translateY(-10px);
}
.eight-cards h3{
  font-weight: 600;
  color: #1a2b4c;
}
.bottom-last-first{
    text-align: center;
}
.bottom-last{  
    border: none;
    border-radius: 30px;  
    color: white;
    background: #007bff;
    padding: 12px 31px;
    font-weight: 700;
    font-size: 21px;
}


/* section-four */
section.four {
    padding: 60px 0;
    background-color: aliceblue;
}
.lef-tex{
  font-weight: 600;
}
.boxt-text h3{
  font-size: 50px;
}
.boxt-text p{
  font-weight: 500;
  font-size: 26px;
}
.box-right-text h3{
      font-size: 60px;
    line-height: 80px;
}
.box-right-text span{
  font-weight: 600;
}
.box-text-button-holder{
 padding: 13px;
}
.box-text-button{
   border: none;
    border-radius: 30px;  
    color: white;
    background: #007bff;
    padding: 12px 31px;
    font-weight: 700;
    font-size: 21px;
}
.fourth-sec-left-to-centre{
    animation: left-to-right 2s ease-in-out 0.25s  normal forwards; 
}
.fourth-sec-right-to-centre{
    animation: right-sec-row 2s ease-in-out 0.25s  normal forwards;
}

/* fifth-section */
.fifth-sec{
  border-bottom: 1px solid;
    padding-bottom: 70px;
}

.fiv-sec-head{
  margin: 75px 0px;
  text-align: center;
}
.fiv-sec-head h3{
  font-size: 60px;
}
.fiv-sec-head span{
   color: #132547;
  font-weight: 600;
}
.for-left-and-right-text {
    display: flex;
    align-items: center;
    margin-top: 40px;
    animation: left-to-right 2s ease-in-out 0.25s  normal forwards; 
}
.for-left-and-right-text h3{
  color: #132547;
 font-size: 44px;
}
.for-left-and-right-text h4{
  color: #7a7d9c;
  font-size: 28px;
}
.for-left-and-right-text p{
  color: #7a7d9c;
  font-size: 17px;
}
.oposite{
  display: flex;
  flex-direction: row-reverse;
  animation: right-sec-row 2s ease-in-out 0.25s  normal forwards;
}

/* sixth-section */
.sixth-sec{
  margin-top: 40px;
}
.sixth-sec-head{
  margin: 50px 0px;
  text-align: center;
  animation: right-sec-row 2s ease-in-out 0.25s  normal forwards;
}
.sixth-sec-head h3{
  font-weight: 700;
  color: #132547;  
  font-size: 60px;
}

/* center-card */
.two-card-center{
    gap: 20px;
    align-items: center;
    padding: 0px;
    display: flex;
   animation: left-to-right 2s ease-in-out 0.25s  normal forwards;
}
.card-content{
  padding: 16px;
  background: aliceblue;
  margin: 7px;
  border-radius: 11px;
}
.card-img{
  margin: 14px;
}
.card-para{   
  color: #5c6185;
    border-bottom: 1px solid;
    margin: 13px;
    font-size: 16px;
    padding-bottom: 20px;
}

/* card-bottom-img-para */
.card-bottom-img-para{
    gap: 20px;
    align-items: center;
    display: flex;
}
.card-bottom-img img{
    margin-top: 10px;
    border-radius: 40px;
    width: 70px;
}
.card-bottom-para {
  line-height: 5px;
}
.card-bottom-para h3{
  font-weight: 600;
  color: #132547;
  font-size: 20px;  
}
.card-bottom-para span{
  font-weight: 100;
  font-size: 16px;  
}
.card-bottom-para p{
  color: #5c6185;
  font-size: 16px;
}

/*  animation */

@keyframes left-to-right{
  from{
    transform: translateX(-600px);
  }
  to{
    transform: translateX(0px);
  }
}

@keyframes right-sec-row {
  from{
transform: translateX(600px);
  }
  to{
    transform: translateX(0px);
  }
  
}

